.cards {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.card {
  display: flex;
  gap: 80px;
  align-items: center;
  cursor: pointer;
}
.card:hover {
  opacity: 1;
  background-color: rgb(238, 238, 238);
}

.card button {
  width: 80px;
  height: 40px;
  border-radius: 15px;
  font-size: 18px;
}
